body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

#calendar {
        max-width: 1000px;
        margin: 0 auto;
    }

#calendar .fc-day:hover{
        transition: all .7s;
    }

#calendar .fc-day:hover{
        background: #ccc;
    }

#user_info_role, #user_info_name, #user_info_status {
    color: blue;
    background-color: grey;
    text-align: center;
}

#test {
    color: red;
    background-color: blue;
}

.test {
    color: red;
    background-color: blue;
}

#greeting {
    background-color: cornflowerblue
}
#got_event {
    width: 100%;
}
#close_day_events {
    width: 100%;
}

/*#events_list {
    max-width: 500px;
}*/
/*#calendar .fc-today{
    background-color: #ccc;
}*/